# terraform-main/environments/dev/backend.config
# Backend configuration for Terraform remote state

bucket         = "project-6-tf-state"
key            = "project-6-tf/dev/runner-infra/terraform.tfstate"  # ← unique per env
region         = "us-east-1"
dynamodb_table = "project-6-terraform-locks"
encrypt        = true
kms_key_id     = "alias/project-6-dev-tf-state-encryption"
