# terraform-main/environments/dev/backend.config
# Backend configuration for Terraform remote state

bucket         = "project-7-tf-state"
key            = "project-7-tf/dev/runner-infra/terraform.tfstate"  # ← unique per env
region         = "us-east-1"
dynamodb_table = "project-7-terraform-locks"
encrypt        = true
kms_key_id     = "alias/project-7-dev-tf-state-encryption"
