# --- Terraform local state and plan files ---
*.tfstate
*.tfstate.backup
*.tfplan
**/terraform.tfstate.*.backup
*.terraform.tfstate.lock.info

# --- Terraform working directory ---
.terraform/
.terraform.lock.hcl

# Lambda function zipped code
**/lambda-deployment.zip

# dependencies
**/lambda-code/node_modules/
**/lambda-code/package-lock.json

# plan & destroy shell script logs
**/dependency_warnings_*.log